In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import requests
#from config import api_key
from pprint import pprint
import numpy as np
import json
import pymysql
# ask abiout this import sqlalchemy
#pymysql.install_as_MySQLdb()
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
engine = create_engine("mysql+pymysql://root:007326@localhost:3306/school_DB3")
conn = engine.connect()
from sqlalchemy.orm import Session
Session = Session(bind=engine)

In [4]:
df = pd.read_csv('data.csv', encoding = 'ISO-8859-1')

In [5]:
from string import printable
def remove_unicode(x):
    return ''.join([l for l in x if str(l) in printable])

In [6]:
df.chronname = df.chronname.apply(remove_unicode)

In [7]:
df.to_sql("data",engine,if_exists="append", index=False)

In [8]:
x = pd.read_sql('select * from data', engine)

In [9]:
y = x.rename(columns={"long_x": "longitude","lat_y": "latitude"})

In [10]:
y.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,longitude,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,None,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,None,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,None,None,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,None,None,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,None,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,None,None,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,None,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0